body{
    background-color: #221515;
    margin: 0 auto
}
#navbar{
    background-color: #492B57;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-container{
    float: left;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}

#logo-container img{
    height: 60px;
    margin-right: 15px;
}

#logo-container h2{
    display: inline-block;
    color: white;
}

#menu-container{
    width: 260;
    float: right;
}

#menu-container a{
    color: white;
    text-decoration: none;
   padding: 15px;
}

#main-container{
    background-color: #CBD2E3;
    height: 300px;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.box{
    background-color:#79D96E ;
    width: 300px;
    float: left;
    padding: 15px;
}

.one{
    float: left;
}
.two{
    float: right;
}

#secondary-container{
    background-color: #9E3133;
    height: 250px;
    margin: 0 15px 15px 15px;
    padding: 15px;
}
#inner-container{
    background-color:#D3D1D3 ;
    border: 2px solid #319427;
    height: 100%;
}